/*! Home Styles */
@import 'fonts.css';
:root {
	--violet: #7774ff;
	--gray: #232c35;
	--white: #eef2f5;
	--light-gray: #a5bbcb;
	--black: #000;
	--blue: #4300ff;
}
body {
	font-family: montserrat-regular;
}
a {
	text-decoration: none;
	color: var(--blue);
}
.container {
	max-width: 1320px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-left {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}
.logo {
	width: 3rem;
	height: 3rem;
}
.logo img {
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
}
.name {
	font-family: montserrat-semi-bold;
}
.nav-right {
	font-family: montserrat-medium;
}
.topic-list {
	padding: 1rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
	flex-wrap: wrap;
}
.topic-item {
	list-style: none;
}
.topic-link {
	color: var(--gray);
	text-decoration: none;
}
header {
	margin-top: 2rem;
}
.title {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.title-main {
	text-align: center;
	font-size: 64px;
	color: var(--gray);
}
.title-more {
	font-size: 24px;
	color: var(--light-gray);
}
main {
	font-family: montserrat-medium;
	padding: 1rem;
	background-color: var(--white);
	margin-top: 3rem;
	display: grid !important ;
	grid-template-columns: 1fr 1.3fr 1fr;
	border-radius: 1rem;
}
.main-title {
	text-align: center;
}
/* .projects {
} */
.projects-list {
	margin-top: 3rem;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
/* .project-item {} */
.link-container {
	width: fit-content;
}
.link-container:hover .link-underline {
	width: 100%;
}
.link-underline {
	background-color: var(--gray);
	position: relative;
	width: 0;
	height: 2px;
	bottom: 0;
	left: 0;
	transition: all 300ms ease-out;
}
.project-item a {
	font-size: 18px;
}
.work-experience {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
/* .work-experience-main {} */
/* .wem-title {} */
/* .wem-reference {} */
/* .wem-explanation {} */
/* .wem-link {} */
/* .work-experience-opensource {} */
/* .weo-explanation {} */
/* .weo-link {} */
/* .education {} */
/* .education-explanation {} */
/* .course-list-title {} */
.course-list {
	list-style: circle;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.course-item {
	font-size: 14px;
}
footer {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.review {
	background-color: var(--gray);
	color: var(--white);
	padding: 1rem;
	border-radius: 1rem;
}
.review-title {
	text-align: center;
	font-size: 2rem;
}
.comments {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.comment {
	margin: 1rem;
	padding: 2rem;
	background-color: var(--violet);
	border-radius: 1rem;
	line-height: 1.5rem;
}
.comment-text {
	font-family: montserrat-medium;
	color: var(--black);
}
/* .person {} */
/* .capacity {} */
.copyright p {
	text-align: center;
}
