/*! Home Styles */
@import 'fonts.css';
:root {
	--color-00: #000000;
	--color-01: #232c35;
	--color-02: #a5bbcb;
	--color-03: #eef2f5;
	--color-04: #ffffff;
	--color-05: #4300ff;
	--color-06: #7774ff;
	--color-07: #cccccc;
}

body:has(#darkToggle:checked) {
	--color-00: #ffffff;
	--color-01: #eef2f5;
	--color-03: #232c35;
	--color-04: #000000;
	--color-07: #4d4d4d;
}
body {
	background-color: var(--color-04);
	font-family: montserrat-regular;
}
a {
	text-decoration: none;
	color: var(--color-05);
}
.container {
	max-width: 1320px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
}
.toggle-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
.switch input {
	display: none;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.slider {
	position: absolute;
	cursor: pointer;
	inset: 0;
	background-color: var(--color-07);
	border-radius: 34px;
	transition: background-color 0.3s ease;
}
.slider::before {
	content: '';
	position: absolute;
	height: 26px;
	width: 26px;
	left: 4px;
	top: 4px;
	background-color: var(--color-04);
	border-radius: 50%;
	transition: transform 0.3s ease;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
input:checked + .slider {
	background-color: var(--color-07);
}

input:checked + .slider::before {
	transform: translateX(26px);
}
.label-text {
	font-size: 2rem;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-left {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}
.logo {
	width: 3rem;
	height: 3rem;
}
.logo img {
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
}
.name {
	color: var(--color-01);
	font-family: montserrat-semi-bold;
}
.nav-right {
	font-family: montserrat-medium;
}
.topic-list {
	padding: 1rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
	flex-wrap: wrap;
}
.topic-item {
	list-style: none;
}
.topic-link {
	color: var(--color-01);
	text-decoration: none;
}
header {
	margin-top: 2rem;
}
.title {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.title-main {
	text-align: center;
	font-size: 64px;
	color: var(--color-01);
}
.title-more {
	color: var(--color-02);
	font-size: 24px;
}
main {
	background-color: var(--color-03);
	font-family: montserrat-medium;
	padding: 1rem;
	margin-top: 3rem;
	display: grid !important ;
	grid-template-columns: 1fr 1.3fr 1fr;
	border-radius: 1rem;
}
.main-title {
	color: var(--color-00);
	text-align: center;
}
.projects-list {
	margin-top: 3rem;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.link-container {
	width: fit-content;
}
.link-container:hover .link-underline {
	width: 100%;
}
.link-underline {
	background-color: var(--color-01);
	position: relative;
	width: 0;
	height: 2px;
	bottom: 0;
	left: 0;
	transition: all 300ms ease-out;
}
.project-item a {
	font-size: 18px;
}
.work-experience {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.wem-explanation {
	color: var(--color-00);
}
.work-experience-opensource {
	color: var(--color-00);
}
.education-explanation {
	color: var(--color-00);
}
.course-list-title {
	color: var(--color-00);
}
.course-list {
	color: var(--color-00);
	list-style: circle;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.course-item {
	font-size: 14px;
}
footer {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.review {
	background-color: var(--color-07);
	color: var(--color-03);
	padding: 1rem;
	border-radius: 1rem;
}
.review-title {
	color: var(--color-01);
	text-align: center;
	font-size: 2rem;
}
.comments {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.comment {
	margin: 1rem;
	padding: 2rem;
	background-color: var(--color-06);
	border-radius: 1rem;
	line-height: 1.5rem;
}
.comment-text {
	font-family: montserrat-medium;
	color: var(--color-00);
}
.copyright p {
	color: var(--color-00);
	text-align: center;
}
