/*! Projects Styles  */
@import 'fonts.css';
:root {
	--color-00: #000000;
	--color-01: #232c35;
	--color-02: #a5bbcb;
	--color-03: #eef2f5;
	--color-04: #ffffff;
	--color-05: #4300ff;
	--color-06: #7774ff;
	--color-07: #cccccc;
}
* {
	box-sizing: border-box;
}
body {
	background-color: var(--color-01);
	font-family: montserrat-regular;
}
a {
	text-decoration: none;
	color: var(--color-05);
}
.project-home-button {
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
}
.project-home-button a,
.project-home-button img {
	width: 100%;
	height: 100%;
}
.project-container {
	max-width: 1320px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30rem;
}
.project_title {
	color: var(--color-03);
	font-family: montserrat-medium;
	font-size: 48px;
	text-align: center;
}
.project_list {
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}
.project_item {
	font-family: montserrat-medium;
	background-color: #7774ff;
	width: 30rem;
	padding: 1rem;
	border-radius: 0.5rem;
}
.image-container {
	width: 100%;
}
.project_item img {
	width: 100%;
}

.link-container {
	width: fit-content;
}
.link-container:hover .link-underline {
	width: 100%;
}
.link-underline {
	background-color: var(--color-05);
	position: relative;
	width: 0;
	height: 2px;
	bottom: 0;
	left: 0;
	transition: all 300ms ease-out;
}
