/*! Responsive Layout Codes */

/* Extra Large (xl) - ≤1399px */
@media (max-width: 1399.98px) {
	.container {
		max-width: 1140px;
	}
}

/* Large (lg) - ≤1199px */
@media (max-width: 1199.98px) {
	.container {
		max-width: 960px;
	}
}

/* Medium (md) - ≤991px */
@media (max-width: 991.98px) {
	.container {
		max-width: 720px;
	}
	main {
		grid-template-columns: 1fr;
		gap: 2rem;
	}
	.projects-list {
		padding: 0;
		align-items: center;
	}
	.comments {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.comment {
		width: 12rem;
	}
	.article-list {
		width: 100%;
	}
	.article-item {
		width: 100%;
	}
}

/* Small (sm) - ≤767px */
@media (max-width: 767.98px) {
	.container {
		max-width: 540px;
	}
	nav {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
	}
	.nav-left {
		flex-direction: column;
	}
	.title-main {
		font-size: 48px;
	}
	.title-more {
		font-size: 16px;
	}
}

/* Extra Small (xs) - ≤575px */
@media (max-width: 575.98px) {
	.container {
		width: 100%;
	}
	header {
		margin-top: 0;
	}
	.title-main {
		font-size: 36px;
	}
	main {
		font-family: 'montserrat-regular';
	}
	.review-title {
		font-size: 28px;
	}
	#comment-1 {
		width: 100%;
	}
	#comment-2,
	#comment-3 {
		display: none;
	}
	.article-item {
		padding: 1rem;
	}
	.article-link {
		padding: 0.5rem;
		font-size: 12px;
	}
	.contact_form {
		width: 100%;
	}
	.field {
		width: 100%;
	}
	.contact_form_input {
		width: 100%;
	}
	.field textarea {
		min-width: 5rem;
		width: 100%;
	}
}
