:root {
	--color-01: #e03433;
	--color-02: #f6dfab;
	--color-03: #262626;
	--color-04: #000;
	--color-05: #fff;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Ubuntu', sans-serif;
	background-color: var(--color-03);
	color: var(--color-02);
	display: grid;
	min-height: 100vh;
}
.container {
	width: 25rem;
	max-width: 1320px;
	margin: 1rem auto 5rem auto;
	padding: 0 1rem;
	display: grid;
	place-items: center;
	align-self: center;
}
.container__title {
	font-size: 42px;
	font-weight: 500;
}
.form {
	margin-top: 0.4rem;
	padding: 1rem;
	width: 100%;
	display: grid;
	gap: 1rem;
}
.form__label {
	font-size: 18px;
}
.form__input-container {
	display: flex;
	height: 2rem;
	border-radius: 0.6rem;
}
.birthdate__input {
	all: unset;
	font-size: 16px;
	background-color: var(--color-05);
	color: var(--color-04);
	border-right: none;
	padding: 0 0.7rem;
	width: 100%;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}
.date-btn {
	all: unset;
	font-size: 20px;
	background-color: var(--color-05);
	width: 2.5rem;
	border-left: none;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	cursor: pointer;
	transition: transform 50ms ease-in-out;
	&:active {
		transform: scale(0.8);
	}
}

.birthdate__button {
	display: flex;
	justify-content: center;
	align-items: center;
}
.datepicker {
	background-color: var(--color-05);
	color: var(--color-04);
	border-radius: 0.5rem;
	width: 100%;
}
.form__datepicker-container {
	display: none;
}
.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.slider {
	width: 100%;
	font-weight: 500;
	font-size: 18px;
}
.datepicker__slider-container {
	margin-top: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
}
.slider-btn {
	all: unset;
	width: 1.5rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: transform 50ms ease-in-out;
	&:active {
		transform: scale(0.8);
	}
}
.slider-btn__image {
	width: 100%;
}
.monthxyear {
	padding: 0.5rem 0;
}
.slider__monthxyear-container {
	display: flex;
	gap: 0.7rem;
}
.year-select,
.month-select {
	appearance: none;
	border: none;
	outline: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	opacity: 0.7;
	cursor: pointer;
}
.table {
	width: 100%;
	padding: 0.5rem;
}
.table-row__th {
	padding-bottom: 0.3rem;
	border-bottom: 2px solid var(--color-04);
}

.table-row__td {
	padding: 0.3rem;
	border-radius: 0.3rem;
	font-weight: 500;
	text-align: center;
	opacity: 0.7;
	cursor: pointer;
	transition: transform 50ms ease-in-out;
	&:active {
		transform: scale(0.9);
	}
}
.td-selected {
	background-color: var(--color-01);
	opacity: 1;
}
.submit__button {
	all: unset;
	box-sizing: border-box;
	width: 100%;
	background-color: var(--color-01);
	color: var(--color-04);
	padding: 0.7rem;
	border-radius: 0.5rem;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	transition: transform 50ms ease-in-out;
	&:active {
		transform: scale(0.95);
	}
}
.output {
	margin-top: 1rem;
	display: none;
}
.result {
	font-size: 20px;
	text-align: center;
}
.error {
	margin-top: 1rem;
	display: none;
	text-align: center;
	font-size: 20px;
}
.error__message {
	color: var(--color-01);
}
