* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}
.container {
	max-width: 1320px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 5rem;
	padding-right: 1rem;
	padding-left: 1rem;
}

/* .container__title{} */
/* .form{} */
/* .form__label{} */
/* .birthdate{} */
/* .form__input-container{} */
/* .birthdate__input{} */
/* .date-btn{} */
/* .birthdate__button{} */
/* .date-btn__image{} */
/* .datepicker{} */
/* .form__datepicker-container{} */
/* .slider{} */
/* .datepicker__slider-container{} */
/* .slider-btn{} */
/* .slider--button-1{} */
/* .slider-btn__image{} */
/* .monthxyear{} */
/* .slider__monthxyear-container{} */
/* .monthxyear__month{} */
/* .monthxyear__year{} */
/* .slider--button-2{} */
/* .table{} */
/* .datepicker__table{} */
/* .table-head{} */
/* .table__thead{} */
/* .table-row{} */
/* .table-head__tr{} */
/* .table-row__th{} */
/* .table-body{} */
/* .table__body{} */
/* .table-body__tr{} */
/* .submit{} */
/* .form__submit-container{} */
/* .submit__button{} */
/* .output{} */
/* .result{} */
/* .output__paraghraph{} */
/* .result__years{} */
/* .result__months{} */
/* .result__days{} */
