:root {
	--color-00: #000;
	--color-01: #fff;
	--color-02: #0e1113;
	--color-03: #748791;
	--color-04: #333d42;
	--color-05: #80a9fd;
	--color-06: #ae2c00;
	--color-07: #ff4500;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Lexend Deca', sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	background-color: var(--color-02);
	color: var(--color-01);
}
.container {
	max-width: 1320px;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem 0;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	height: 100vh;
}

.hidden {
	display: none;
}

.lanes-list {
	background-color: var(--color-04);
	display: flex;
}
/* .subreddit-lane {} */
/* .lane-header {} */
/* .lane-header-text {} */
/* .subreddit-name {} */
/* .lane-options {} */
/* .options-btn {} */
/* .options-btn-img {} */
/* .options-list {} */
/* .option-item {} */
/* .lane-body {} */
/* .lane-body-overlay {} */
/* .lane-body-loader {} */
/* .lane-body-error {} */
/* .lane-body-error-message {} */
/* .post-list {} */
/* .post {} */
/* .post-upv {} */
/* .upv-icon {} */
/* .upv-count {} */
/* .post-title-author {} */
/* .post-title {} */
/* .post-author {} */
/* .add-lane {} */
/* .main-overlay {} */
/* .main-loader {} */
/* .add-lane-form {} */
/* .add-lane-label {} */
/* .submit-add-lane {} */
/* .add-lane-error {} */
/* .add-lane-error-message {} */

/*! Responsive UI */
/* Extra Large (xl) - ≤1399px */
@media (max-width: 1399.98px) {
	.container {
		max-width: 1140px;
	}
}

/* Large (lg) - ≤1199px */
@media (max-width: 1199.98px) {
	.container {
		max-width: 960px;
	}
}

/* Medium (md) - ≤991px */
@media (max-width: 991.98px) {
	.container {
		max-width: 720px;
	}
}

/* Small (sm) - ≤767px */
@media (max-width: 767.98px) {
	.container {
		max-width: 540px;
	}
}

/* Extra Small (xs) - ≤575px */
@media (max-width: 575.98px) {
	.container {
		width: 100%;
	}
}
