/*! Responsive Layout */

/* Extra Large (xl) - ≤1399px */
@media (max-width: 1399.98px) {
	.container {
		max-width: 1140px;
	}
	.cookie-consent {
		width: 30rem;
	}
}

/* Large (lg) - ≤1199px */
@media (max-width: 1199.98px) {
	body {
		padding: 0 10rem;
	}
	.container {
		max-width: 960px;
	}
	.cookie-consent {
		width: 25rem;
	}
}

/* Medium (md) - ≤991px */
@media (max-width: 991.98px) {
	body {
		padding: 0 8rem;
	}
	.container {
		max-width: 720px;
	}
	.cookie-consent {
		width: 20rem;
	}
}

/* Small (sm) - ≤767px */
@media (max-width: 767.98px) {
	body {
		padding: 0;
	}
	.container {
		max-width: 540px;
	}
	.cookie-consent {
		width: 18rem;
	}
}

/* Extra Small (xs) - ≤575px */
@media (max-width: 575.98px) {
	.container {
		width: 100%;
	}
	.cookie-consent {
		width: 15rem;
	}
}
