/*! Styles  */
* {
	box-sizing: border-box;
	margin: 0;
}
body {
	font-family: 'Courier New', Courier, monospace;
}
ul {
	list-style: none;
	padding: 0;
}
/* .container{} */
/* .navigation{} */
/* .nav-list{} */
/* .nav-item{} */
/* .nav-item-title{} */
/* .tooltip{} */
/* .tooltip-text{} */
/* .tooltip-arrow{} */
/* .dot{} */
/* .nav-item-built{} */
