* {
	box-sizing: border-box;
	margin: 0;
}
body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul {
	list-style: none;
	padding: 0;
}
.container {
	min-height: 100vh;
	max-width: 1320px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 5rem;
	padding-right: 1rem;
	padding-left: 1rem;
	display: grid;
	justify-content: center;
}

.accordion {
	width: 35rem;
	margin-top: 1rem;
}
.title {
	font-size: 28px;
	font-weight: 500;
}
.title-more {
	margin-top: 0.5rem;
	color: #555;
}
.accordrion-tabs {
	margin-top: 2rem;
}
.tab-list {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}
.question-box {
	padding: 0.9rem;
	border-radius: 0.7rem;
	background-color: #000;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.tab-item.open .arrow {
	transform: rotate(90deg);
}
.question {
	font-size: 16px;
	font-weight: 400;
}
.arrow {
	display: flex;
	justify-content: center;
}

.answer-box {
	border-radius: 0.7rem;
	transition: height 150ms ease-out, opacity 150ms ease-out,
		padding 150ms ease-out, margin-top 150ms ease-out, border 150ms ease-out;
	overflow: hidden;
	height: 0;
	margin-top: 0;
	padding: 0 0.9rem;
	border: 0;
}

.tab-item.open .answer-box {
	opacity: 1;
	height: fit-content;
	margin-top: 0.4rem;
	padding: 0.9rem;
	border: 2px solid #000;
}

.answer {
	font-size: 14px;
	line-height: 1.2rem;
}
