* {
	box-sizing: border-box;
	margin: 0;
}
body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
	max-width: 1320px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 5rem;
	padding: 1rem;
}

/* .accordion{} */
/* .title{} */
/* .title-more{} */
/* .accordrion-tabs{} */
/* .tab-list{} */
/* .tab-item{} */
/* .question-box{} */
/* .question{} */
/* .arrow{} */
/* .answer-box{} */
/* .answer{} */
