/*! Styles  */
:root {
	--color-00: #000;
	--color-00h: #141414;
	--color-01: #fff;
	--color-02: #232122;
	--color-03: #e8c068;
	--color-04: #d13d31;
	--color-04h: #be3124;
	--color-04e: #ffa9a1;
	--color-05: #2a2a2a;
	--color-06: #cdd932;
	--color-07: #061c27;
	--color-08: #e5e5e5b8;
}
* {
	box-sizing: border-box;
	margin: 0;
}
body {
	background-color: var(--color-02);
	color: var(--color-01);
	font-family: 'Roboto Slab', serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
}
ul {
	padding: 0;
}
a {
	text-decoration: none;
}
.container {
	max-width: 1320px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 5rem;
	padding: 1rem 1rem;
	display: grid;
	justify-content: center;
}
.hidden {
	display: none;
}
.header {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.logo {
	width: 50px;
	height: 50px;
}
.title {
	font-size: 22px;
}
.main {
	width: 20rem;
	margin-top: 1rem;
	display: grid;
}
/*! Dropdown Styles */
.dropdown-container {
	width: 100%;
	position: relative;
	min-width: 16rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-self: center;
}
.dropdown-selected,
.dropdown-select {
	width: 100%;
	background-color: var(--color-02);
	border: 2px solid var(--color-01);
	border-radius: 0.8rem;
}
.dropdown-selected {
	padding: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 3rem;
	cursor: pointer;
}
.selected-text {
	font-size: 20px;
}
.selected-arrow {
	width: 18px;
	transition: transform 100ms ease-in;
}
.dropdown-container.open .selected-arrow {
	transform: rotate(180deg);
}
.dropdown-select {
	position: absolute;
	top: 4rem;
	height: 20rem;
	border-radius: 0.8rem 0 0 0.8rem;
	overflow: auto;
	scrollbar-color: var(--color-01) var(--color-02);
	background-color: var(--color-02);
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 100ms ease-in;
}
.dropdown-container.open .dropdown-select {
	transform: scaleY(1);
}
.dropdown-option {
	border-bottom: 1px solid var(--color-01);
	padding: 0.7rem 1rem;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.dropdown-option:last-child {
	border-bottom: none;
}
.option-text {
	font-size: 18px;
}

/*! Stats Styles */
.stats {
	color: var(--color-07);
	width: 100%;
	margin-top: 1rem;
	background-color: var(--color-08);
	padding: 1rem;
	border: 2px solid var(--color-01);
	border-radius: 1rem;
	/* display: none; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
}
.stats-wait,
.stats-loading,
.stats-error {
	display: none;
}
.stats.wait .stats-wait {
	display: block;
}
.stats.loading .stats-loading {
	display: block;
}

.stats.loading {
	display: grid;
	justify-content: center;
}
.loader {
	margin-top: 1rem;
	width: 10px;
	aspect-ratio: 1;
	border-radius: 50%;
	animation: l5 1s infinite linear alternate;
	justify-self: center;
}
.stats.error {
	border: none;
	background-color: var(--color-04e);
	color: var(--color-04);
}
.stats.error .stats-error {
	display: block;
}
.button {
	all: unset;
	box-sizing: border-box;
	width: 100%;
	margin-top: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	cursor: pointer;
	justify-self: center;
	text-align: center;
	transition: transform 100ms ease-in;
	&:active {
		transform: scale(0.9);
	}
}
.retry-btn {
	display: none;
	/* display: block; */
	background-color: var(--color-04);
	&:hover {
		background-color: var(--color-04h);
	}
}
.repo-result {
	margin-top: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	border: 2px solid var(--color-01);
}
.repo-header {
	display: flex;
	justify-content: space-between;
}
.repo-name {
	font-weight: 400;
}
.repo-link {
	display: block;
	width: 25px;
	height: 25px;
	transition: transform 100ms ease-in;
	&:active {
		transform: scale(0.9);
	}
}
.repo-link-img {
	width: 100%;
	height: 100%;
}
.repo-description {
	margin-top: 0.5rem;
	padding-left: 0.7rem;
	font-weight: 300;
	color: var(--color-08);
}
.repo-footer {
	margin-top: 0.5rem;
	font-size: 12px;
	padding: 0 0.7rem;
	display: flex;
	justify-content: space-between;
}
.language,
.issues,
.forks,
.stars {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}
.lang-icon,
.stars-icon,
.forks-icon,
.issue-icon {
	width: 12px;
	height: 12px;
}
/* .lang-name {} */
/* .stars-count {} */
/* .forks-count {} */
/* .issues-count {} */
.refresh-btn {
	display: none;
	/* display: block; */
	background-color: var(--color-00);
	&:hover {
		background-color: var(--color-00h);
	}
}

/*! Responsive UI */

/* Extra Large (xl) - ≤1399px */
@media (max-width: 1399.98px) {
	.container {
		max-width: 1140px;
	}
}

/* Large (lg) - ≤1199px */
@media (max-width: 1199.98px) {
	.container {
		max-width: 960px;
		width: 60%;
	}
}

/* Medium (md) - ≤991px */
@media (max-width: 991.98px) {
	.container {
		max-width: 720px;
		width: 75%;
	}
}

/* Small (sm) - ≤767px */
@media (max-width: 767.98px) {
	.container {
		max-width: 540px;
		width: 90%;
	}
}

/* Extra Small (xs) - ≤575px */
@media (max-width: 575.98px) {
	.container {
		width: 100%;
	}
	.main {
		width: 18rem;
	}
}

@keyframes l5 {
	0% {
		box-shadow: 15px 0 #000, -15px 0 #0002;
		background: #000;
	}
	33% {
		box-shadow: 15px 0 #000, -15px 0 #0002;
		background: #0002;
	}
	66% {
		box-shadow: 15px 0 #0002, -15px 0 #000;
		background: #0002;
	}
	100% {
		box-shadow: 15px 0 #0002, -15px 0 #000;
		background: #000;
	}
}
