/*! Styles  */
:root {
	--color-00: #000;
	--color-01: #fff;
	--color-02: #232122;
	--color-03: #e8c068;
	--color-04: #d13d31;
	--color-05: #2a2a2a;
	--color-06: #cdd932;
	--color-07: #061c27;
}
* {
	box-sizing: border-box;
	margin: 0;
}
body {
	background-color: var(--color-02);
	color: var(--color-01);
	font-family: 'Roboto Slab', serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
}
ul {
	padding: 0;
}
a {
	text-decoration: none;
}
.container {
	max-width: 1320px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 5rem;
	padding: 1rem 15rem;
}
.hidden {
	display: none;
}
.header {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.logo {
	width: 50px;
	height: 50px;
}
.title {
	font-size: 28px;
}
.main {
	margin-top: 1rem;
}
/*! Dropdown Styles */
.dropdown-container {
	width: 20rem;
	position: relative;
	min-width: 16rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-self: center;
}
.dropdown-selected,
.dropdown-select {
	width: 100%;
	background-color: var(--color-02);
	border: 2px solid var(--color-01);
	border-radius: 0.8rem;
}
.dropdown-selected {
	padding: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 3rem;
	cursor: pointer;
}
.selected-text {
	font-size: 20px;
}
.selected-arrow {
	width: 18px;
	transition: transform 100ms ease-in;
}
.dropdown-container.open .selected-arrow {
	transform: rotate(180deg);
}
.dropdown-select {
	position: absolute;
	top: 4rem;
	height: 20rem;
	border-radius: 0.8rem 0 0 0.8rem;
	overflow: auto;
	scrollbar-color: var(--color-01) var(--color-02);
	background-color: var(--color-02);
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 100ms ease-in;
}
.dropdown-container.open .dropdown-select {
	transform: scaleY(1);
}
.dropdown-option {
	border-bottom: 1px solid var(--color-01);
	padding: 0.7rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.dropdown-option:last-child {
	border-bottom: none;
}
.option-text {
	font-size: 18px;
}
.option-check {
	width: 24px;
	display: none;
}
.dropdown-option.selected .option-check {
	display: block;
}

/*! Stats Styles */
.stats {
	margin-top: 1rem;
	background-color: var(--color-06);
	padding: 1rem;
	border: 2px solid var(--color-01);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.stats-wait {
	color: var(--color-07);
}
.stats-loading {
	color: var(--color-07);
}
.stats-error {
	color: var(--color-04);
}
/* .retry-btn {} */
/* .repo-result {} */
/* .repo-header {} */
/* .repo-name {} */
/* .repo-link {} */
/* .repo-description {} */
/* .repo-footer {} */
/* .language {} */
/* .lang-name {} */
/* .stars {} */
/* .stars-icon {} */
/* .stars-count {} */
/* .forks {} */
/* .forks-icon {} */
/* .forks-count {} */
/* .issues {} */
/* .issue-icon {} */
/* .issues-count {} */
/* .refresh-btn {} */

/*! Responsive UI */

/* Extra Large (xl) - ≤1399px */
@media (max-width: 1399.98px) {
	.container {
		max-width: 1140px;
	}
}

/* Large (lg) - ≤1199px */
@media (max-width: 1199.98px) {
	.container {
		max-width: 960px;
		width: 60%;
	}
}

/* Medium (md) - ≤991px */
@media (max-width: 991.98px) {
	.container {
		max-width: 720px;
		width: 75%;
	}
}

/* Small (sm) - ≤767px */
@media (max-width: 767.98px) {
	.container {
		max-width: 540px;
		width: 90%;
	}
}

/* Extra Small (xs) - ≤575px */
@media (max-width: 575.98px) {
	.container {
		width: 100%;
	}
}
